<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.ElasticSearch"/>
  </extensions>

  <targets>
    <!-- Console Target -->
    <target xsi:type="Console" name="console"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />

    <!-- Elasticsearch Target -->
    <target xsi:type="ElasticSearch" name="elastic"
            uri="http://elasticsearch:9200"
            index="cryptoalarm-logs-${date:format=yyyy.MM.dd}"
            includeAllProperties="true"
            layout="${message}">
      <field name="@timestamp" layout="${longdate}" layoutType="System.DateTime" />
      <field name="level" layout="${level:uppercase=true}" />
      <field name="logger" layout="${logger}" />
      <field name="message" layout="${message}" />
      <field name="exception" layout="${exception:format=tostring}" />
      <field name="traceId" layout="${activity:property=TraceId}" />
      <field name="spanId" layout="${activity:property=SpanId}" />
      <field name="userId" layout="${aspnet-request-headers:HeaderNames=X-User-Id}" />
      <field name="url" layout="${aspnet-request-url}" />
      <field name="method" layout="${aspnet-request-method}" />
      <field name="application" layout="CryptoAlarmSystem.Api" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,elastic" />
  </rules>
</nlog>
